[submodule "Everything-Will-Be-IK"]
	url = https://github.com/fire/Everything-Will-Be-IK.git
[submodule "Everything-Will-Be-IK-Processing"]
	url = git@github.com:fire/Everything-Will-Be-IK-Processing.git
